.keyword {
    font-weight: bold;
}

.type {
    font-style: italic;
    color: green;
}

.parameter {
    font-style: italic;
}

.code {
    position: relative;
    left: 0px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: monospace;
    font-size: 150%;
    background-color: lightyellow;
}

.annotation {
    //background-color: gray;
    font-family: serif;
    color: darkred;
}

.MathJax_Display .MathJax, 
DIV.MathJax_MathML math, 
.MathJax_SVG_Display .MathJax_SVG { 
    display: inline-block ! important; 
    background-color: red; 
    padding: 10px ! important; 
    border: 2px dashed blue ! important; 
} 

.fname {
    font-size: 300%;
    text-align: center;
    color: darkblue;
    font-family: sans-serif;
}

.number {
    color: blue;
}

.string {
    color: red;
}